@import "../../../../node_modules/@angular/material/theming";
@include mat-core();

// PALETA GENERADA EN http://mcg.mbitson.com/ A PARTIR DEL COLOR #91c757.
$rick-and-morty-primary: (
  50: #f2f8eb,
  100: #deeecd,
  200: #c8e3ab,
  300: #b2d889,
  400: #a2cf70,
  500: #91c757,
  600: #89c14f,
  700: #7eba46,
  800: #74b33c,
  900: #62a62c,
  A100: #f2ffe9,
  A200: #d5ffb6,
  A400: #b7ff83,
  A700: #a8ff69,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// PALETA GENERADA EN http://mcg.mbitson.com/ A PARTIR DEL COLOR #12b1c9.
$rick-and-morty-accent: (
  50: #e3f6f9,
  100: #b8e8ef,
  200: #89d8e4,
  300: #59c8d9,
  400: #36bdd1,
  500: #12b1c9,
  600: #10aac3,
  700: #0da1bc,
  800: #0a98b5,
  900: #0588a9,
  A100: #d4f5ff,
  A200: #a1e9ff,
  A400: #6edeff,
  A700: #54d8ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$primary: mat-palette($rick-and-morty-primary, 500);
$accent: mat-palette($rick-and-morty-accent, 500);
$warn: mat-palette($mat-red, 600);
$theme: mat-define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);
@include angular-material-theme($theme);
