<app-header></app-header>
<mat-sidenav-container id="main-layout" [hasBackdrop]="false">
  <mat-sidenav [mode]="'over'" [opened]="layoutService.menuOpened">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/home'"><mat-icon class="mat-icon-middle">home</mat-icon>&nbsp;Home</a>
      <a mat-list-item [routerLink]="'/characters'"><mat-icon class="mat-icon-middle">people</mat-icon>&nbsp;Characters</a>
      <a mat-list-item (click)="layoutService.toggleMenu()"><mat-icon class="mat-icon-middle">arrow_left</mat-icon>&nbsp;Close</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
