<div class="home">
  <h1>Rick and Morty characters</h1>
  <img @FadeInAnimation src="assets/img/home.png" alt="Rick and Morty" class="home-img">
  <p>Rick and Morty characters list, based on&nbsp;<a href="https://rickandmortyapi.com/" target="_blank">The Rick and Morty API</a>.<br>
    Created by&nbsp;<a href="https://www.linkedin.com/in/javier-gracia-gimeno/" target="_blank">Javier Gracia Gimeno&nbsp;<i class="fa-brands fa-linkedin"></i></a><br>
    <a href="https://github.com/jgragim/rick-and-morty-characters" target="_blank">Source code&nbsp;<i class="fa-brands fa-square-github"></i></a>
  </p>
</div>
