<mat-expansion-panel class="filters-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Filters
    </mat-panel-title>
    <mat-panel-description>
      Filter to search characters
    </mat-panel-description>
  </mat-expansion-panel-header>
  <form [formGroup]="formGroup" class="row" (ngSubmit)="onSubmit()">
    <div class="col-xs-12 col-md-6 col-lg-3">
      <mat-form-field appearance="fill" class="filter-field">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <mat-form-field appearance="fill" class="filter-field">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option><mat-icon>delete</mat-icon></mat-option>
          <mat-option [value]="CharacterStatus.Dead">Dead</mat-option>
          <mat-option [value]="CharacterStatus.Alive">Alive</mat-option>
          <mat-option [value]="CharacterStatus.Unknown">Unknown</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <mat-form-field appearance="fill" class="filter-field">
        <mat-label>Species</mat-label>
        <input matInput formControlName="species">
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <mat-form-field appearance="fill" class="filter-field">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option><mat-icon>delete</mat-icon></mat-option>
          <mat-option [value]="CharacterGender.Female">Female</mat-option>
          <mat-option [value]="CharacterGender.Male">Male</mat-option>
          <mat-option [value]="CharacterGender.Genderless">Genderless</mat-option>
          <mat-option [value]="CharacterGender.Unknown">Unknown</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-action-row>
      <button type="button" mat-raised-button color="accent" (click)="formGroup.reset()">
        <mat-icon>delete</mat-icon>
        Clear
      </button>
      <button type="submit" mat-raised-button color="primary">
        <mat-icon>search</mat-icon>
        Search
      </button>
    </mat-action-row>
  </form>
</mat-expansion-panel>
<mat-chip-listbox *ngIf="name || status || species || gender" aria-label="Filters selected" class="chip-listbox">
  <mat-chip-option @FadeInAnimation *ngIf="name" (click)="removeFilter('name')"><strong>Name:</strong>&nbsp;{{name}}</mat-chip-option>
  <mat-chip-option @FadeInAnimation *ngIf="status" (click)="removeFilter('status')"><strong>Status:</strong>&nbsp;{{status}}</mat-chip-option>
  <mat-chip-option @FadeInAnimation *ngIf="species" (click)="removeFilter('species')"><strong>Species:</strong>&nbsp;{{species}}</mat-chip-option>
  <mat-chip-option @FadeInAnimation *ngIf="gender" (click)="removeFilter('gender')"><strong>Gender:</strong>&nbsp;{{gender}}</mat-chip-option>
</mat-chip-listbox>
<div @FadeInAnimation *ngIf="loading" class="loading-spinner">
  <mat-spinner></mat-spinner>
</div>
<div @FadeInAnimation *ngIf="!loading && noDataFound" class="alert alert-warning" role="alert" style="text-align: center;">
  <mat-icon class="mat-icon-middle">warning</mat-icon>&nbsp;
  <strong>No data found!</strong>&nbsp;Check filters
</div>
<div @FadeInAnimation *ngIf="!loading && error" class="alert alert-danger" role="alert" style="text-align: center;">
  <mat-icon class="mat-icon-middle">error</mat-icon>&nbsp;
  <strong>Error</strong>&nbsp;Check connection
</div>
<div class="row" *ngIf="!loading && !noDataFound && !error">
  <ng-container *ngFor="let character of characters">
    <app-character-card @CardAnimation [character]="character" class="col-xs-12 col-lg-6 col-xxl-4"></app-character-card>
  </ng-container>
</div>
